
 .container{
    background-image: url("blue-snow.png");
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
    width: 100%;

 } 
 
.header{
    height: 70px;
    font-family:'Georgia', Times, 'Times New Roman', serif;
    background:#ffffff;
    border-bottom: 3px inset #dddddd;
    
}

.left{
    height: 50px;
    width: 200px;
    padding-top: 20px;
    color:white;
    text-align: center;
    background:#4aaaa5;
    float:left; 
    margin-left: 200px;
    margin-top: 0px;
}

.right{
    background: #ffffff;
    border-color: #cccccc; 
    color: #777777;
    float: right; 
    padding-top: 20px;
    padding-right: 200px;
}
.right_link{
    color: #777777;
    text-decoration: none;
}

.main{
    width: 960px;
    height: 800px;
    color: #777777;
} 

.content{
    width: 960px;
    min-height: 400px;
    padding-bottom: 50px;
    background: #ffffff;
    position: relative;
    right:-200px;
    top: 75px;
}
.content_header{
    padding: 0px 20px 20px 20px;
}

.about{
    width: 900px;
    height: 400px;
    padding-left: 20px;
}

.form1{
    margin-left: 20px;

}

#buttn{
    background: #4aaaa5;
    padding: 5px;
    color: white;
}

.photo{
    width: 200px;
    height: 200px;
    float: left; 
    margin-left:20px
}

.footer{
    height: 70px;
    background-color:#666666;
    border-top:8px solid #4aaaa5;
    position:sticky;
    bottom: 0px;
    text-align: center;   
}